name: Codecov

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8
      - name: Install Deps
        run: |
          pip install pytest
          pip install pytest-cov
      - name: Generate File
        run: |
           cd ./generator
           python generator.py
           cd ..
      - name: Generate coverage report
        run: |
          pip install -e .
          pytest --cov=languager
      - uses: codecov/codecov-action@v2
        with:
          env_vars: OS,PYTHON
          files: ./.coverage
          flags: unittests
